/* RESPONSIVE CSS */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .myImage{
        height: 316px;
        width: 200px;
    }
    #img1{
        width: 100%;
    }
    #clock_icon{
        padding: 0 !important;
    }
    .myImage{
        height: 316px;
        width: 100% !important;
        margin-bottom: 20px;
    }
    #img2{
        height: 316px;
        width: 100% !important;
        margin-bottom: 20px;
    }
    #sub_cat{
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
    }
    #buttons{
        width: 100%; 
    }   
    #img3{
        width: 100%;
    }
    .news{
        margin-bottom: 5px;
    }
}

@media only screen
and (min-width : 321px) {
    .myImage{
        height: 316px;
        width: 200px;
    }
}

@media only screen
and (max-width : 320px) {
 
}
 
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1600px) {
    .myImage{
        height: 300px;
        width: 420px;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

@media only screen
and (min-device-width : 569px)
and (max-device-width : 767px) {
    #img1{
        width: 100% !important;
    }
}

@media only screen
and (min-width : 1824px) {

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

}
 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

}
 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}