*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#top_nav{
    display: flex;
    justify-items: space-between;
    margin: 5px 0;
    position: relative;
}
#top_nav_right{
    position: absolute; 
    right: 0;
    bottom:5px; 
}
ul{
    list-style: none;
}