*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#top_nav{
    display: flex;
    justify-items: space-between;
    margin: 5px 0;
    position: relative;
}
#top_nav_right{
    position: absolute; 
    right: 0;
    bottom:5px; 
}
ul{
    list-style: none;
}
#divide_sec{
    background-color:orangered !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border-top: 1px solid rgb(177, 177, 237);
    border-bottom: 1px solid rgb(145, 145, 195);
}
#divide_sec h4{
    color: orangered;
}
.button {
    border: none;
    color: white;
    padding: 9px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 0;
    cursor: pointer;
  }
  h4{
    font-family: 'Times New Roman', Times, serif;
  }